body {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
}

.Container {
  padding: 0 !important;
}

.App-logo {
  max-width: 100%;
  height: 46px !important;
  margin: 4px;
  pointer-events: none;
  vertical-align: middle;
}

.ButtonGetStarted {
  border-radius: 12px !important;
  text-transform: none !important;
  font-family: 'Plus Jakarta Sans', sans-serif !important;
  margin-left: 4px !important;
  margin-right: 4px !important;
}

.column-button {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
  color: rgb(34, 62, 32) !important;
  text-transform: none !important;
  border-radius: 12px !important;

  &:hover {
    border-radius: 12px !important;
  }
}

a {
  text-decoration: none !important;
}