.slider-header {
  font-size: 48px;
  line-height: 54px;
  font-weight: 600;
  margin-bottom: 72px;
  text-align: center;

  @media (max-width: 900px) {
    margin-top: 80px !important;
  }
}

.swiper-card {
  padding: 0px;
  margin: 0px;
  background-color: #DAFCD7;
  border-radius: 32px;
  color: rgb(34, 62, 32);

  h1 {
    padding-inline: 32px;
    padding-top: 58px;
    padding-bottom: 16px;
    font-size: 36px;
    line-height: 42px;
    font-weight: 600;
    word-break: break-word;
  }
  h4 {
    font-size: 28px;
    line-height: 34px;
    font-weight: 600;
    opacity: 0.5;
    position: absolute;
    bottom: 0px;
    padding-inline: 32px;
    padding-bottom: 32px;
  }
  p {
    padding-inline: 32px;
    font-size: 18px;
    line-height: 28px;
  }
}

.swiper-container {
  margin: 0px !important;
}
