.Content, .MainPostImage {
  background: url("../Background/young-man-learning-virtual-classroom.jpg") no-repeat center center fixed;
  background-size: cover;
  filter: brightness(0.8);
  border-radius: 16px;
  padding: 80px;
  max-width: calc(100% - 48px);
  margin: 86px 25px 0 !important;

  @media (max-width: 900px) {
    padding: 32px 28px;
    margin-bottom: 0 !important;
  }
}

.Content {
  height: 33.33vh;
}

.ContentFirstElementPosition, .ContentPosition {
  background: url("../Background/young-man-learning-virtual-classroom.jpg") no-repeat center center fixed;
  background-size: cover;
  filter: brightness(0.8);
  border-radius: 16px;
  padding: 80px;
  max-width: calc(100% - 48px);
  height: 33.33vh;

  @media (max-width: 900px) {
    padding: 32px 28px;
    margin-bottom: 0 !important;
  }
}

.ContentFirstElementPosition {
  margin: 43px 24px 0 !important;
}

.ContentPosition {
  margin: 86px 24px 0 !important;
}

.MainPostImage {
  height: 50vh;
}

.Font, .FontTitleModal, .CategoryTitle, .FontColorPickerModal {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
  color: rgb(34, 62, 32);
}

.HoverFont, .CategoryTitle {
  :hover {
    color: #172b17;
  }
}

.FontTitleModal {
  font-weight: 400 !important;
}

.CategoryTitle {
  font-weight: 500 !important;
  margin-bottom: 16px !important;
}

.FontColorPickerModal {
  font-size: 1rem;
  line-height: 1.4375rem;
  font-weight: 400;
  margin-left: 14px !important;
  margin-top: 16px !important;
  margin-bottom: 1px !important;
}

.Position {
  margin: 86px 24px 0 !important;

  @media (max-width: 900px) {
    margin: 32px 24px !important;
  }
}

.FirstElementPosition {
  margin: 43px 24px 0 !important;

  @media (max-width: 900px) {
    margin: 32px 24px !important;
  }
}

.PositionModalButton {
  margin: 130px 24px 0 !important;
}

.PositionPostContent {
  margin: 32px 24px !important;
}

.ManageCategorySection {
  padding-block: 8px;
}

.CategoryCTA {
  margin-top: 86px !important;
  padding-left: 16px;
  padding-bottom: 32px;
  font-weight: 500 !important;

  @media (max-width: 600px) {
    padding-left: 32px;
    padding-bottom: 16px;
  }
}

.PositionCategories, .PositionUserCategories, .PositionUserCategory, .PositionUserCategoryPost {
  padding-inline: 16px;

  @media (max-width: 600px) {
    padding-inline: 0;
  }

  @media (max-width: 600px) {
    padding-inline: 32px;
  }

  > .MuiGrid-item {
    padding-top: 48px !important;
  }
}

.PositionCategories {
  margin-top: 86px !important;
}

.PositionUserCategory {
  margin-bottom: 32px !important;
}


.Card {
  border-radius: 16px !important;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05) !important;
  transition: .5s;

  &:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2) !important;
    transition: .5s;
  }
}

.CardContent {
  padding: 24px !important;
}

.ArrowButtonPosition {
  margin-top: 24px;
  justify-content: right;
  display: flex;
}

.ModalContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 66.66%;
}

.InputTitleContainer {
  margin-top: 8px;
}

.ButtonContainer {
  display: flex;
  justify-content: space-between;
}

.CategoryButton, .CancelAddPostButton, .CancelEditPostButton, .AddPostButton, .EditPostButton, .CancelAddCategoryButton,
.AddCategoryButton, .OpenAddPostButton, .OpenAddCategoryButton, .RightArrowButton, .ShowMoreButton {
  border-radius: 12px !important;
  text-transform: none !important;
  font-family: 'Plus Jakarta Sans', sans-serif !important;
}

.CancelAddPostButton, .CancelEditPostButton, .AddPostButton, .EditPostButton {
  margin-left: 4px !important;
  margin-right: 4px !important;
}

.CategoryButton {
  margin-bottom: 8px !important;
}

.ShowMoreButton {
  margin-top: 64px !important;
  padding-inline: 64px !important;
}

.circle-picker {
  box-shadow: none !important;
  border-radius: 12px !important;
  margin: 0 !important;
  padding: 15px 16px 0 16px !important;
}

.BoxColorPickerModal {
  border: 1px solid rgb(196, 196, 196);
  border-radius: 12px !important;

  &:hover {
    border: 1px solid #172b17 !important;
  }
}

.ql-toolbar {
  border-top: 0 !important;
}

.ql-container {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.ql-container, .ql-editor {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 33vh;
  max-height: 33vh;
}

.InputBorder {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
  color: rgb(34, 62, 32);
  font-size: 1rem;
  line-height: 1.4375rem;
  font-weight: 400;
  padding-left: 14px !important;
  padding-top: 16px !important;
  border: 1px solid #ccc;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom: 0;
}

.quill-container {
  .ql-toolbar {
    transition: .3s
  }

  .ql-container {
    transition: .3s
  }

  .InputBorder {
    transition: .3s
  }

  &:hover {
    .ql-toolbar {
      border: 1px solid #172b17;
      transition: .3s

    }

    .ql-container {
      border: 1px solid #172b17;
      border-top: 0;
      transition: .3s

    }

    .InputBorder {
      border: 1px solid #172b17;
      border-bottom: 0;
      transition: .3s

    }
  }

  &.focused {
    .ql-toolbar {
      border: 2px solid #172b17;
      transition: .3s
    }

    .ql-container {
      border: 2px solid #172b17;
      border-top: 0;
      transition: .3s
    }

    .InputBorder {
      border: 2px solid #172b17;
      border-bottom: 0;
      transition: .3s
    }
  }
}

.SingleAdminCategory:hover {
  .Card {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2) !important;
  }
}