.CTA {
  background-color: #DAFCD7;
  border-radius: 32px;
  margin-top: 20px !important;
  padding: 80px;
  max-width: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;

  @media (max-width: 900px) {
    padding-inline: 40px;
  }
}

.CTAGrid {
  padding-left: 0;
  padding-top: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.SideImageCTA {
  max-height: 400px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;

  @media (max-width: 900px) {
    margin-top: 0;
  }
}

.Title {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 54px;
  font-weight: 600;
}

.Paragraph {
  margin-bottom: 24px;
  margin-top: 0;
  font-size: 18px;
  line-height: 26px;
}