.HeaderButton {
  @media (max-width: 700px) {
    display: none;
  }
}

.Hero {
  background-color: #DAFCD7;
  border-radius: 32px;
  padding: 80px;
  max-width: calc(100% - 48px);
  margin: 86px 24px 0 !important;

  @media (max-width: 900px) {
    padding: 80px 40px;
  }
}

.HeroGrid {
  padding: 0;
  margin: auto;
}

.ButtonHero {
  border-radius: 12px !important;
  padding: 4px 28px !important;
  font-size: 16px !important;
  line-height: 16px !important;
  height: 48px !important;
  text-transform: none !important;
  font-family: 'Plus Jakarta Sans', sans-serif !important;
}

.SideImage {
  max-height: 350px;
  max-width: 350px;
  margin: 0 auto;

  @media (max-width: 900px) {
    margin-top: 24px;
  }
}
