.CTA {
  background-color: #DAFCD7;
  border-radius: 32px;
  margin-top: 20px !important;
  padding: 80px;
  max-width: 100%;
  margin-left: 0px !important;
  margin-right: 0px !important;
  @media (max-width: 900px) {
    padding-inline: 40px;
  }
}

.SideImageCTA {
  max-height: 400px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  @media (max-width: 900px) {
    margin-top: 0px;
  }
}

.animated-element {
  opacity: 0;
  transform: translateY(15%);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.animated-element.visible {
  opacity: 1;
  transform: translateY(0);
}

.animated-element.exit {
  opacity: 0;
  transform: translateY(15%);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.animated-element-delay-100ms {
  opacity: 0;
  transform: translateY(15%);
  transition-delay: 0.1s;
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.animated-element-delay-100ms.visible {
  opacity: 1;
    transition-delay: 0.1s;

  transform: translateY(0);
}

.animated-element-delay-100ms.exit {
  opacity: 0;
    transition-delay: 0.1s;

  transform: translateY(15%);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.animated-element-delay-200ms {
  opacity: 0;
  transform: translateY(15%);
  transition-delay: 0.2s;
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.animated-element-delay-200ms.visible {
  opacity: 1;
    transition-delay: 0.2s;

  transform: translateY(0);
}

.animated-element-delay-200ms.exit {
  opacity: 0;
    transition-delay: 0.2s;

  transform: translateY(15%);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.animated-element-delay-300ms {
  opacity: 0;
  transform: translateY(15%);
  transition-delay: 0.3s;
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.animated-element-delay-300ms.visible {
  opacity: 1;
    transition-delay: 0.3s;

  transform: translateY(0);
}

.animated-element-delay-300ms.exit {
  opacity: 0;
    transition-delay: 0.3s;

  transform: translateY(15%);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.animated-element-image {
  opacity: 0;
  transform: translateY(-20%);
  transition-delay: 2s;
  transition: opacity 1.5s ease-in, transform 1.5s ease-in-out;
}

.animated-element-image.visible {
  opacity: 1;
  transform: translateY(0);
}

.animated-element-image.exit {
  opacity: 0;
  transform: translateY(-20%);
  transition-delay: 2s;
  transition: opacity 1.5s ease-in, transform 1.5s ease-in-out;
}